* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: gray;
  display: flex;
  justify-content: space-between;
  /*min-width: 730px;*/
}

h1, h2 {
  text-align: center;
}

h2 {
  font-size: 1.2em;
}

button {
  /*font-size: 3em;*/
  width: 100%;
  display: block;
  max-width: 50px;
  margin: auto;
  margin-top: 0.2em;
}

#wrapper {
  flex-grow: 1;
  /*width: 70%;*/
  margin: 2em auto;
  border: 2px solid black;
  border-radius: 2em;
  background-color: lightgray;
  box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.4);
  /*overflow: auto;*/
  /*height: 200px;*/
}

#grid {
  width: 90%;
  margin: auto;
  margin-bottom: 3em;
}

.pixelRow {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.pixelBlock {
  border: 1px solid gray;
  flex-grow: 1;
  background-color: white;
}

.menu {
  flex-basis: 10%;
  margin-top: 3em;
  position: relative;
}

.gridEdit {
  margin-top: 1em;
}

.circle {
  border-radius: 50%;
}

.color {
  /*border: 1px solid black;*/
  width: 70%;
  /*height: 0;*/
  padding-top: 70%;
  background-color: white;
  margin: auto;
  margin-top: 0.5em;
  /*margin-left: 10%;*/
}

#current {
  margin: auto;
  margin-top: 1em;
  border: 1px solid black;
}

.colorColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.columnHolder {
  display: flex;
  width: 100%;
}
