* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Basic */

body {
  display: flex;
  justify-content: space-between;
  min-width: 768px;
  cursor: default;
  background-color: #9099A2;
  text-align: center;
  font-family: "VT323";
}

h1 {
  font-size: 2em;
  color: #0F1626;
}

h2 {
  font-size: 1.2em;
}

hr {
  width: 90%;
  margin: auto;
  border: 0;
  border-bottom: 1px dashed #fff;
  background: #999;
}

button {
  margin-top: 0.5em;
  background-color: #3C3C3C;
  color: white;
  border-radius: 4px;
  border: none;
  position: relative;
  font-size: 1em;
  padding: 0.3em;
  font-family: "VT323";
}

button:active {
  top: 1px;
}

.gridButton {
  width: 45%;
  padding: 0;
  font-size: 2em;
  border: none;
}

/* Pixel Art Container */
#wrapper {
  flex-grow: 1;
  margin: 2em auto;
  margin-bottom: 3em;
  border-radius: 2em;
  background-color: #EFEFEF;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

/* Pixel Grid */

#grid {
  width: 90%;
  margin: auto;
  margin-bottom: 3em;
}

.pixelRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.pixelBlock {
  flex-grow: 1;
  border: 1px solid gray;
  background-color: white;
}

/* Side Menus */

.menu {
  flex-basis: 12%;
  margin-top: 3em;
}

.gridEdit {
  margin-top: 1em;
}

/* Colors and Circles */

.circle {
  border-radius: 50%;
}

.color {
  width: 70%;
  padding-top: 70%;
  background-color: white;
  margin: auto;
  margin-top: 0.5em;
}

#current {
  margin-top: 1em;
  border: 1px solid black;
}

#colorHolder {
  cursor: crosshair;
}

/* Circle Columns */
.colorColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.columnHolder {
  display: flex;
  width: 100%;
}
